<section class="about-us">
    <div class="container-about-us">
        <h2 id="quienessomos" class="title-about-us">QUIÉNES SOMOS</h2>
        <div class="meme-about-us">
            <div class="image-meme">
                <img class="meme-face" src="./assets/images/Mariapequena.jpg" alt="meme adalab" title="Meme Mateo Adalab">
            </div>
            <div class="content-meme">
                <h3 class="name-meme">Meme Mateo</h3><br>
                <p class="text-meme">Soy una persona comprometida, carismatica y resolutiva. Me gusta
                    enfrentarme a nuevos retos porque me llena de satisfacción llegar a la meta con éxito,
                    estudié Comunicación audiovisual, y me encanta el diseño y la fotografía.
                    Poseo un caracter firme, pero tengo un gran corazón, mi amor por los animales y la
                    naturaleza me hacen ser una persona mas cercana con lo que me rodea.
                    En mis tiempos libres disfruto del Cine y la lectura. </p>
                <nav class="menu-iconos-meme">
                    <ul>
                        <li>
                            <a href="https://twitter.com/mnemearie" target="_blank">
                                <i class="fab fa-twitter" title="Twitter"></i>
                            </a>
                        </li>
                        <li><b>·</b></li>
                        <li>
                            <a href="https://www.instagram.com/mnemearie/" target="_blank">
                                <i class="fab fa-instagram-square" title="Instagram"></i>
                            </a>
                        </li>
                        <li><b>·</b></li>
                        <li>
                            <a href="https://github.com/memematvaz" target="_blank">
                                <i class="fab fa-github-alt" title="Github"></i>
                            </a>
                        </li>
                        <li><b>·</b></li>
                        <li>
                            <a href="https://www.linkedin.com/in/mnemefoto/?originalSubdomain=es"
                                target="_blank">
                                <i class="fab fa-linkedin-in" title="LinkedIn"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="luci-about-us">
            <div class="image-luci">
                <img class="luci-face" src="./assets/images/Lucipequena.jpg" alt="luci adalab" title="Lucica Arba">
            </div>
            <div class="content-luci">
                <h3 class="name-luci">Lucica Arba</h3><br>
                <p class="text-luci">Soy una persona proactiva, que busca superarse y aprender constantemente.
                    Con experiencia en Marketing orientado a Performance, la programación parecía una montaña lo
                    bastante alta como para ser explorada.</p>
                <nav class="menu-iconos-luci">
                    <ul>
                        <li>
                            <a href="https://twitter.com/_larba" target="_blank">
                                <i class="fab fa-twitter" title="Twitter"></i>
                            </a>
                        </li>
                        <li><b>·</b></li>
                        <li>
                            <a href="">
                                <i class="fab fa-instagram-square" title="Instagram"></i>
                            </a>
                        </li>
                        <li><b>·</b></li>
                        <li>
                            <a href="https://github.com/arbalu5/" target="_blank">
                                <i class="fab fa-github-alt" title="Github"></i>
                            </a>
                        </li>
                        <li><b>·</b></li>
                        <li>
                            <a href="https://www.linkedin.com/in/lucica-arba/" target="_blank">
                                <i class="fab fa-linkedin-in" title="LinkedIn"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="lili-about-us">
            <div class="image-lili">
                <img class="lili-face" src="./assets/images/lilipequena.jpg" alt="lili adalab" title="Liliana Rascón">
            </div>
            <div class="content-lili">
                <h3 class="name-lili">Liliana Rascón</h3><br>
                <p class="text-lili">Soy una persona alegre, positiva, proactiva y colaborativa.
                    Me encanta trabajar en equipo porque considero que enriquecer mi aprendizaje también depende
                    del conocimiento de las demás profesionales, siempre me ha gustado la tecnología, por eso
                    estudié Informática. <br>
                    Mexicana de nacimiento; me mudé a España en el año 2012 persiguiendo nuevas metas y retos,
                    tras años en diferentes sectores, los cuales me han aportado experiencia y un conocimiento
                    muy interesante, he decidido hacer lo que me apasiona, "la programación". <br>
                </p>
                <nav class="menu-iconos-lili">
                    <ul>
                        <li>
                            <a href="https://twitter.com/rascon_lili" target="_blank">
                                <i class="fab fa-twitter" title="Twitter"></i>
                            </a>
                        </li>
                        <li><b>·</b></li>
                        <li>
                            <a href="">
                                <i class="fab fa-instagram-square" title="Instagram"></i>
                            </a>
                        </li>
                        <li><b>·</b></li>
                        <li>
                            <a href="https://github.com/LiliRascon" target="_blank">
                                <i class="fab fa-github-alt" title="Github"></i>
                            </a>
                        </li>
                        <li><b>·</b></li>
                        <li>
                            <a href="https://www.linkedin.com/in/LilianaRascon/" target="_blank">
                                <i class="fab fa-linkedin-in" title="LinkedIn"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="celia-about-us">
            <div class="image-celia">
                <img class="celia-face" src="./assets/images/Celiapequena.jpg" alt="celia adalab" title="Celia Gutiérrez">
            </div>
            <div class="content-celia">
                <h3 class="name-celia">Celia Gutiérrez</h3><br>
                <p class="text-celia">Resolutiva y creativa, Celia es una emprendedora que siempre busca
                    afrontar nuevos retos. Su motivación y sus ganas de aprender, le impulsaron a sumergirse en
                    el apasionante proyecto de Adalab. Resiliencia es su palabra y su clave para abordar
                    cualquier tipo de situación.</p>
                <nav class="menu-iconos-celia">
                    <ul>
                        <li>
                            <a href="https://twitter.com/Srta_Gutierrezz" target="_blank">
                                <i class="fab fa-twitter" title="Twitter"></i>
                            </a>
                        </li>
                        <li><b>·</b></li>
                        <li>
                            <a href="https://www.instagram.com/celiagm19/" target="_blank">
                                <i class="fab fa-instagram-square" title="Instagram"></i>
                            </a>
                        </li>
                        <li><b>·</b></li>
                        <li>
                            <a href="https://github.com/Celiagm82" target="_blank">
                                <i class="fab fa-github-alt" title="Github"></i>
                            </a>
                        </li>
                        <li><b>·</b></li>
                        <li>
                            <a href=" https://www.linkedin.com/in/celia-guti%C3%A9rrez-mart%C3%ADn-06682690/"
                                target="_blank">
                                <i class="fab fa-linkedin-in" title="LinkedIn"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="eli-about-us">
            <div class="image-eli">
                <img class="eli-face" src="./assets/images/Elipequena.jpg" alt="eli adalab" title="Eli Alkorta">
            </div>
            <div class="content-eli">
                <h3 class="name-eli">Eli Alkorta</h3><br>
                <p class="text-eli">Multidisciplinar y con gran capacidad de adaptación gracias a una
                    trayectoria profesional en la que ha habido espacio para los trabajos más variados.
                    Profesora de idiomas, redactora, aficionada a la cultura y estudiante vocacional, mi nuevo
                    reto es entender en qué consiste eso de programar.</p>
                <nav class="menu-iconos-eli">
                    <ul>
                        <li>
                            <a href="https://twitter.com/EliAlkorta" target="_blank">
                                <i class="fab fa-twitter" title="Twitter"></i>
                            </a>
                        </li>
                        <li><b>·</b></li>
                        <li>
                            <a href="https://www.instagram.com/elialkorta/" target="_blank">
                                <i class="fab fa-instagram-square" title="Instagram"></i>
                            </a>
                        </li>
                        <li><b>·</b></li>
                        <li>
                            <a href="https://github.com/EliAlkorta" target="_blank">
                                <i class="fab fa-github-alt" title="Github"></i>
                            </a>
                        </li>
                        <li><b>·</b></li>
                        <li>
                            <a href="https://www.linkedin.com/in/elisabet-alcorta-barbe/" target="_blank">
                                <i class="fab fa-linkedin-in" title="LinkedIn"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>