<section class="contact-home">
    <div class="contact-home-title">
        <p class="contact-title">SHECKIES</p>
    </div>
    <div class="contact-home-text">
        <p> Si tienes algún reto relacionado con la programación front-end, no dudes en ponerte en contacto con nosotras
            a través de este formulario. Déjanos tus datos personales y explícanos brevemente qué necesitas. ¡Prómetemos
            llamarte en menos de 24 horas! </p>
    </div>
    <div class="contact-home-required">
        <p> Todos los campos marcados con <span class="asterisk">*</span> son obligatorios. </p>
    </div>
</section>