<div class="container-contact-form">


    <form action="https://formspree.io/lilianarasconestrada@gmail.com" class="app__form" method="POST">
        <div class="container-name">
            <label class="name" for="name">Nombre completo <span class="signeForm">*</span></label>
            <input class="name-input" placeholder="Nombre..." type="text" name="name" id="name" required>
        </div>
        <div class="container-email-telephone">

            <div class="container-email">

                <label class="email" for="email">Email <span class="signeForm">*</span> </label>
                <input class="email-input" placeholder="nombre.apellidos@mail.com" type="email" name="email" id="email">
            </div>
            <div class="container-telephone">

                <label class="telephone" for="phone">Teléfono</label>

                <input id="phone" class="telephone-input" placeholder="Ej: 123456789" type="tel">
            </div>
        </div>

        <div class="container-comments">

            <label class="comments" for="comments">Mensaje <span class="signeForm">*</span> </label><br>
            <input class="comments-input" placeholder="¿Qué necesitas?" name="comments" id="comments">
        </div>
        <div class="container-submit">
            
                <input class="submit" type="submit" value="Enviar" /></div>
    
    </form>
</div>