
<hr>

<footer class="footer-container">
    <div class="footer-container1">
        <p>SHECKIES © 2020</p>
    </div>
    <div class="footer-container2">
        <nav class="footer-menu">
            <ul class="ulfooter">
                <li>
                    <a href="./index.html#equipoPpal" title="Equipo">EQUIPO</a>
                </li>
                <li>
                    <a href="./index.html#quienessomos" title="Quienes somos">QUIENES SOMOS</a>
                </li>
                <li>
                    <a href="./contact.html" title="Contacto">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="footer-logo">
        <a href="./index.html"  title="Logo Adalab"> <img src="./assets/images/logo-adalab.png" alt="Adalab Logo"></a>
    </div>
</footer>