<section id="equipoPpal">
    <div class="homecontainer0">
        <p class="hometext3">SHECKIES</p>
    </div>
    <div class="homecontainer1">
        <p> NUESTRO ADN: PASIÓN Y TECNOLOGÍA, Desde el año 2020, SHECKIES es un equipo de programadoras
            apasionadas por la tecnología y enfocada
            hacia la consecución de resultados para nuestros clientes.
            Somos un equipo multicultural con presencia en Europa; hemos conseguido importantes logros,
            reconocimientos y premios en categorías específicas del sector además de tener como colaboradores
            Netflix, Spotify, Gothan Green Simple y Digitax. </p>
        <p>Lo que empezó como un proyecto grupal de clase, se ha convertido en 5 profesionales donde nos
            gusta mantener el “espíritu Agile”, con esencia digital: la programación corre en nuestras
            venas, el optimismo y la capacidad de adaptación están en nuestros genes. <br>
            Nuestra mayor prioridad es satisfacer al cliente mediante la entrega temprana y continua de software
            con valor. El equipo está formado por personas de diferentes backgrounds, con conocimiento en
            diferentes sectores y acostumbradas a trabajar en entornos altamente competitivos.</p>
    </div>
    <div class="homecontainercuadro">
        <div class="homerectangle">
        </div>
    </div>
    <adiv class="homecontainer2">
        <div class="homecontainertablet">
            
                <div class="homecontainer3">
                    <p class="hometext1">Fortalezas</p>
                    <p class="hometext4">
                        El compromiso, Es indispensable para nosotras a la hora de trabajo en equipo. La valentía,
                        Afrontamos nuestros miedos enfrentando cada una de las situaciones complicadas. La
                        puntualidad, Valoramos mucho el tiempo ajeno, el tiempo de nuestros clientes. <br>
                        La creatividad, Es un don espontáneo y natural de nuestro equipo, nos permite abordar las
                        diversas situaciones de necesidad o reto. La proactividad, Somos emprendedoras con ganas de
                        hacer cosas, asumir nuevos retos y crecer. <br>
                        La confianza, Confiamos en nuestros proyectos y todo lo que desarrollamos. La empatía,
                        Empatizamos con nuestros clientes a la hora de definir sus necesidades.
                    </p>
                </div>
                <div class="homecontainer4">
                    <p class="hometext2">Debilidades</p>
                    <p class="hometext5">
                        Un area de mejora es tener una mayor vision sobre el sector, y poder adaptarmos mejor a las
                        necesidades cambiantes de las empresas. <br>
                        Consideramos que otra area de mejora sería la duda, aunque al momento de que aparece en
                        nuestro equipo la manejamos de la mejor manera posible para que nos lleve por un camino
                        hacia la excelencia. <br>
                        Falta de recursos. Puede ocurrir en el camino, que nos encontremos con alguna dificultad,
                        como por ejemplo la falta de algun recurso en particular y nos impida agilizar nuestro
                        proyecto, sin embargo, abordar esta area de mejora, nos permite seguir creciendo y
                        aprendiendo.
                    </p>
                </div>
            </div>
      
        </div>
</section>