<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sheckies</title>
    <link rel="icon" href="./favicon.png" />
    <link href="./assets/images/fontawesome-free-5.12.1-web/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <div class="page">
      <partial src="_header.html" label="header"></partial>
      <partial src="_hero.html" label="hero"></partial>
      <partial src="_home.html" label="home"></partial>
      <partial src="_about-us.html" label="about-us"></partial>
      <partial src="_footer.html" label="footer"></partial>
      <partial src="_cookies.html" label="cookies"></partial>

    </div>
  </body>
</html>
