.hero {
    height: 316px;
    background: url("../images/group2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-end;
    width: 100%;
  }
  
  .hero .claim {
    width: 290px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  .hero .title {
    width: 260px;
    height: 50px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 15px;
    background-color: white;
    transform: translateY(50%);
    flex-grow: 1;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.39;
    color: #000000;
    display: inline-block;
  }
  
  /*HERO TABLET*/
  @media all and (min-width: 768px) {
    .hero {
      height: 421px;
      background-size: cover;
    }
    .hero .claim {
      width: 441px;
      margin-left: 45px;
      margin-right: 0;
      opacity: 0.7;
    }
    .hero .title {
      display: inline-block;
      transform: translateY(0);
      width: 381px;
      padding-left: 30px;
      padding-right: 30px;
      text-align: center;
    }
  }
  
  /*HERO PC*/
  @media all and (min-width: 1200px) {
    .hero {
      height: 550px;
    }
    .hero .claim {
      width: 574px;
      margin-left: 142px;
    }
    .hero .title {
      height: 60px;
      font-size: 24px;
      line-height: 1.25;
      text-align: center;
    }
  }